/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background: #2980b9;
}

main {
  margin-top: 4em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  display: block;
  margin: 1em 0;
  font-size: 1.3rem;

}


#submit {
  padding: 0.5em 1.5em;
  margin: 1.5em 0;
  width: 100%;

  text-decoration:none;
  font-size: 1.7rem;
  text-align: center;
  background: #fff;
  color: #2980b9;
  border-radius: 10px;
}

#submit:hover {
  
}

#selection,
#day {
  padding: .8em 5em;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1.2rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
