/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background: #2980b9;
}

main {
  margin-top:  10em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form label {
  display: block;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
